@media screen and (min-width: 320px) {

  header,
  footer {
    background-color: $header-background;
    height: 15%;


    nav {
      @include flex-center;

      button {
        margin: 20px;
      }
    }

    .welcome-logo {
      margin: 0;
      display: flex;
      justify-content: space-between;
    }
  }

  footer {
    @include flex-center;
  }

  main {
    background-color: $main-background;
    // @include flex-center;
    height: auto;

    h3 {
      margin: 0;
      align-self: center;
    }

    .book-trip {
      @include flex-center;
    }
  }

  .trip-cards {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 768px) {

}
