@media screen and (min-width: 320px) {

  header,
  footer {
    background-color: $header-background;
    height: 15%;


    nav {
      @include flex-center;

      button {
        margin: 20px;
      }
    }

    .welcome-logo {
      margin: 0;
      display: flex;
      justify-content: space-between;
    }
  }

  footer {
    @include flex-center;
  }

  main {
    background-color: $main-background;
    // @include flex-center;
    height: auto;

    h2 {
      text-decoration: underline;
      color: $header-background;
    }

    h3 {
      margin: 0;
      align-self: center;
    }

    .book-trip {
      @include flex-center;
    }
  }

  .trip-cards {
    display: flex;
    justify-content: space-between;

    .past-trips,
    .current-trips,
    .upcoming-trips,
    .pending-trips {
      border: 5px solid grey;
    }
  }

  .stats-book {
    display: flex;
    justify-content: space-around;

    .user-stats,
    .book-trip {
      border: 15px solid grey;
      background-color: white;
    }
  }

  .past-trips {
    display: flex;
    flex-direction: column;
    width: inherit;


    img {
      width: 150px;
      height: 150px;
    }


  }

  .current-trips {}
}

@media screen and (min-width: 768px) {

}
