@media screen and (min-width: 320px) {

  header,
  footer {
    background-color: $header-background;
    height: 15%;


    nav {
      @include flex-center;

      button {
        margin: 20px;
      }
    }

    .welcome-logo {
      margin: 0;
      display: flex;
      justify-content: space-between;
    }
  }

  footer {
    @include flex-center;
  }

  main {
    background-color: $main-background;
    // @include flex-center;
    height: auto;

    h2 {
      text-decoration: underline;
      color: $header-background;
      @include flex-center;
      font-size: -webkit-xxx-large;
    }

    h3 {
      margin: 0;
    }

    .book-trip {
      @include flex-center;
    }
  }

  .stats-book {
    display: flex;
    justify-content: space-around;

    .user-stats,
    .book-trip {
      border: 15px solid grey;
      background-color: white;
    }
  }


  img {
    width: 150px;
    height: 150px;
  }

  .cards-wrapper {
    display: grid;
    grid-template-columns: 350px 350px 350px;
    grid-template-rows: 350px 350px 350px;
    justify-content: center;

    .destination-card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: white;
      margin: 15px;
      border: 10px solid grey;
    }
  }
}


@media screen and (min-width: 768px) {

}
